EelsAndEscalators/XML/PawnXMLSchema.xml

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd ="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name ="PawnConfiguration">
    <xsd:sequence>
      <xsd:element ref ="config" maxOccurs ="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name ="configType">
    <xsd:sequence>
      <xsd:element ref ="location"/>
      <xsd:element ref ="color"/>
      <xsd:element ref ="playerID"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name ="PawnConfiguration" type ="PawnConfiguration" />
  <xsd:element name ="config" type ="configType" />
  <xsd:element name ="location" type ="xsd:int" />
  <xsd:element name ="color" type ="xsd:int" />
  <xsd:element name ="playerID" type ="xsd:int" />
  
</xsd:schema>

